# Ignore experimental files
.playground/

# Ignore obsolete files
.obsolete/

# Ignore own test images
.own-images/

# Ignore environment files
**/*.env

# Ignore venv
.venv/

# Ignore conda
.conda/



